body {
 margin: 0;
}

h1, h2 {
 text-align: center;
}

p {
 text-align: justify;
}
.coronavirus {
 height: 200px;
 width: 100%;
 padding: 0;
}

.img {
 width: 50%;
}

.virus {
  width: 50%;
}

.section {
 border: 10px solid cyan;
 padding: 0rem 5rem 0rem 5rem;
 overflow: hidden;
}
iframe {
 padding: 0 10% 0 10%;
}
.section-left {
 float: left;
 width: 74%;
}
